<h1>Editing event confirmation</h1>

<%= render "form", event_confirmation: @event_confirmation %>

<br>

<div>
  <%= link_to "Show this event confirmation", @event_confirmation %> |
  <%= link_to "Back to event confirmations", event_confirmations_path %>
</div>
