<h1><%= current_user.name %>'s Created Events</h1>

<div id="events">
  <% current_user.created_events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>